.columns > div {
  display: flex;
  flex-direction: column;
}

.columns img {
  width: 100%;
  height: 100%;
  border: 0;
  display: block;
  object-fit: cover;
}

.columns > div > div {
  order: 1;
  text-align: left;
  display: flex;
  font-size: 16px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1px;
  padding: 20px;
  line-height: 25.6px;
  letter-spacing: normal;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
  min-height: 220px;
  height: 100%;
  align-items: stretch;
}

@media (width >= 900px) {
  .columns > div {
    align-items: flex-start;
    column-fill: auto;
    flex-direction: unset;
    gap: 4px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }
}
