.tabs .tabs-list {
  display: flex;
  gap: 1ch;
  max-width: 100%;
  font-size: var(--body-font-size-xs);
  color: black;
  overflow-x: auto;
  align-items: center;
  justify-content: center;
  font-family: InstrumentSans, sans-serif;
  letter-spacing: normal;
  line-height: 32.4px;
}

@media (width >= 600px) {
  .tabs .tabs-list {
    font-size: var(--body-font-size-s);
  }
}

@media (width >= 900px) {
  .tabs .tabs-list {
    font-size: var(--body-font-size-m);
  }
}

.tabs .tabs-list button {
  margin: 0;
  border: 1px solid black;
  border-radius: 0;
  padding: 25px 50px;
  background-color: black;
  color: #9a8a8a;
  line-height: 19.5px;
  text-align: center;
  transition: background-color 0.2s;
  border-bottom: 1px solid #9a8a8a; 
  text-decoration-line: none;
}

.tabs .tabs-list button p {
  margin: 0;
}


.tabs .tabs-list button[aria-selected='true'] {
  color: turquoise;
  border-bottom: 2px solid turquoise;
  background-color: black;
  cursor: initial;
}

.tabs .tabs-panel {
  margin-top: -1px;
  padding: 24px;
  border: 1px solid black;
  overflow: auto;
  background-color: black;
}

.tabs .tabs-panel[aria-hidden='true'] {
  display: none;
}
