.tabs .tabs-list {
  display: flex;
  gap: 0.5ch;
  max-width: 100%;
  font-size: var(--body-font-size-xs);
  color: black;
  overflow-x: auto;
  align-items: center;
}

@media (width >= 600px) {
  .tabs .tabs-list {
    font-size: var(--body-font-size-s);
  }
}

@media (width >= 900px) {
  .tabs .tabs-list {
    font-size: var(--body-font-size-m);
  }
}

.tabs .tabs-list button {
  flex: 0 0 max-content;
  margin: 0;
  border: 1px solid black;
  border-radius: 0;
  padding: 0.5em;
  background-color: black;
  color: turquoise;
  font-weight: bold;
  font-style: normal;
  line-height: unset;
  text-align: initial;
  text-decoration: none;
  text-overflow: unset;
  overflow: unset;
  white-space: unset;
  transition: background-color 0.2s;
  align-items: center;
}

.tabs .tabs-list button p {
  margin: 0;
}


.tabs .tabs-list button[aria-selected='true'] {
  border-bottom: 1px solid white;
  background-color: black;
  cursor: initial;
}

.tabs .tabs-panel {
  margin-top: -1px;
  padding: 24px;
  border: 1px solid black;
  overflow: auto;
  background-color: black;
}

.tabs .tabs-panel[aria-hidden='true'] {
  display: none;
}
