footer {
  background-color: black;
  font-size: 16px;
  font-family: InstrumentSans, sans-serif;
  font-weight: 400;
  letter-spacing: 0.135px;
  line-height: 25.6px;
}

footer .footer > div {
  margin: auto;
  max-width: 1200px;
  padding: 64px 24px;
}

footer .footer p {
  margin: 0;
}

@media (width >= 900px) {
  footer .footer > div {
    padding: 24px 32px;
  }
}
