/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

:root {
  /* colors */
  --background-color: white;
  --light-color: #f8f8f8;
  --dark-color: #505050;
  --text-color: #131313;
  --link-color: #3b63fb;
  --link-hover-color: #1d3ecf;

  /* fonts */
  --body-font-family: roboto, roboto-fallback, sans-serif, syncopate;
  --heading-font-family: roboto-condensed, roboto-condensed-fallback, sans-serif, syncopate;

  /* body sizes */
  --body-font-size-m: 22px;
  --body-font-size-s: 19px;
  --body-font-size-xs: 15px;

  /* heading sizes */
  --heading-font-size-xxl: 55px;
  --heading-font-size-xl: 44px;
  --heading-font-size-l: 34px;
  --heading-font-size-m: 27px;
  --heading-font-size-s: 24px;
  --heading-font-size-xs: 22px;

  /* nav height */
  --nav-height: 4rem;
  --header-height: var(--nav-height);
}

.w-nav {
  z-index: 1000;
  background: #ddd;
  position: relative;
}

.w-nav::before, .w-nav::after {
  content: " ";
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-nav::after {
  clear: both;
}

.w-nav-brand {
  float: left;
  color: #333;
  text-decoration: none;
  position: relative;
}

.w-nav-link {
  vertical-align: top;
  color: #222;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  text-decoration: none;
  display: inline-block;
  position: relative;
}

.w-nav-link.w-current {
  color: #0082f3;
}

.w-nav-menu {
  float: right;
  position: relative;
}

[data-nav-menu-open] {
  text-align: center;
  background: #c8c8c8;
  min-width: 200px;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  overflow: visible;
  display: block !important;
}

.w-nav-link-open {
  display: block;
  position: relative;
}

.w-nav-overlay {
  width: 100%;
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  overflow: hidden;
}

.w-nav-overlay [data-nav-menu-open] {
  top: 0;
}

.w-nav[data-animation="over-left"] .w-nav-overlay {
  width: auto;
}

.w-nav[data-animation="over-left"] .w-nav-overlay, .w-nav[data-animation="over-left"] [data-nav-menu-open] {
  z-index: 1;
  top: 0;
  right: auto;
}

.w-nav[data-animation="over-right"] .w-nav-overlay {
  width: auto;
}

.w-nav[data-animation="over-right"] .w-nav-overlay, .w-nav[data-animation="over-right"] [data-nav-menu-open] {
  z-index: 1;
  top: 0;
  left: auto;
}

.w-nav-button {
  float: right;
  cursor: pointer;
  -webkit-tap-highlight-color: #0000;
  user-select: none;
  padding: 18px;
  font-size: 24px;
  display: none;
  position: relative;
}

.w-nav-button:focus {
  outline: 0;
}

.w-nav-button.w-open {
  color: #fff;
  background-color: #c8c8c8;
}

.w-nav[data-collapse="all"] .w-nav-menu {
  display: none;
}

.w-nav[data-collapse="all"] .w-nav-button, .w-nav-dropdown-open, .w-nav-dropdown-toggle-open {
  display: block;
}

.w-nav-dropdown-list-open {
  position: static;
}

  .w-nav[data-collapse="medium"] .w-nav-button {
    display: block;
  }

  .w-nav[data-collapse="small"] .w-nav-button {
    display: block;
 }

.w-tabs {
  position: relative;
}

.w-tabs::before, .w-tabs::after {
  content: " ";
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-tabs::after {
  clear: both;
}

.w-tab-menu {
  position: relative;
}

.w-tab-link {
  vertical-align: top;
  text-align: left;
  cursor: pointer;
  color: #222;
  background-color: #ddd;
  padding: 9px 30px;
  text-decoration: none;
  display: inline-block;
  position: relative;
}

.w-tab-link.w-current {
  background-color: #c8c8c8;
}

.w-tab-link:focus {
  outline: 0;
}

.w-tab-content {
  display: block;
  position: relative;
  overflow: hidden;
}

.w-tab-pane {
  display: none;
  position: relative;
}

.w-tab-active {
  display: block;
}


.w-ix-emptyfix::after {
  content: "";
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.w-dyn-empty {
  background-color: #ddd;
  padding: 10px;
}

.w-dyn-hide, .w-dyn-bind-empty, .w-condition-invisible {
  display: none !important;
}

.wf-layout-layout {
  display: grid;
  height: 90px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 100px;
  
}


.nav-logo-icon {
  aspect-ratio: 1;
  flex: none;
  height: 100%;
}

.nav-logo {
  color:inherit;
  column-gap: 8px;
  grid-row-gap: 8px;
  background-color: #f7f8f5;
  justify-content: flex-start;
  align-items: center;
  height: 2.5rem;
  text-decoration: none;
  display: flex;
}

.nav-logo:hover {
  color: color-mix(in srgb, currentcolor 80%, transparent);
}

.nav-wrapper {
  width: 100%;
  flex:0;
  background-color: #f7f8f5;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.nav-wrapper.fixed-nav {
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
  position: fixed;
  background-color: #f7f8f5;
}

.nav-menu-list {
  flex-flow: row;
  margin-bottom: 0;
  padding-left: 0;
  display: flex;
  justify-content: flex-start;
}

.sg-nav-menu {
  margin-left: 0;
  padding-left: 6px;
  padding-right: 6px;
  background-color: #f7f8f5;
  flex-flow: column;
  flex: 1;
  justify-content: flex-start;
  align-items: stretch;
  height: 100px;
  display: flex;
  overflow: auto;
}

.sg-logo.w-current {
  align-items: flex-start;
}

.logo:hover {
  color: color-mix(in srgb, currentcolor 80%, transparent);
}

.nav-menu-list-item {
  display: flex;
  margin-bottom: 0 !important;
}

.nav-menu-dropdown {
  position: static;
}

.nav-menu-dropdown.is-relative {
  position: relative;
}

/* fallback fonts */
@font-face {
  font-family: roboto-condensed-fallback;
  size-adjust: 88.82%;
  src: local('Arial');
}

@font-face {
  font-family: roboto-fallback;
  size-adjust: 99.529%;
  src: local('Arial');
}

@media (width >= 900px) {
  :root {
    /* body sizes */
    --body-font-size-m: 18px;
    --body-font-size-s: 16px;
    --body-font-size-xs: 14px;

    /* heading sizes */
    --heading-font-size-xxl: 45px;
    --heading-font-size-xl: 36px;
    --heading-font-size-l: 28px;
    --heading-font-size-m: 22px;
    --heading-font-size-s: 20px;
    --heading-font-size-xs: 18px;
  }
}

body {
  display: none;
  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--body-font-family);
  font-size: var(--body-font-size-m);
  line-height: 1.6;
}

body.appear {
  display: block;
}

header {
  height: var(--nav-height);
}

header .header,
footer .footer {
  visibility: hidden;
}

header .header[data-block-status="loaded"],
footer .footer[data-block-status="loaded"] {
  visibility: visible;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0.8em;
  margin-bottom: 7.952px;
  font-family: Syncopate, sans-serif;
  font-weight: 600;
  line-height: 1.25;
  scroll-margin: 40px;
  font-size: 11.36px;
  letter-spacing: -0.136px;
  color: color-mix(in srgb, currentcolor 60%, transparent);
}

h1 { 
  margin-top: 20px;
  font-size: 90.4px;
  color: black !important;
  text-align: left;
  background: transparent;
  font-weight: 400;
  letter-spacing: -0.904px;
  line-height: 94.0167px;
  text-wrap-mode: wrap;
  text-wrap-style: balance;
}

h2 {  
  font-size: 45.28px;
  font-weight: 400;
  letter-spacing: -0.4528px;
  line-height: 47px;
  text-align: center;
  margin-bottom: 40px;
  margin-top: 50px;
  color: turquoise;
}

h3 { 
  margin-top: 20px;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  color: #3a3c37;
}

h4 { 
  margin-top: 10px;
  margin-left: -20px;
  margin-bottom: 11.28px;
  font-size: 22.56px;
  line-height: 29.3333px;
  letter-spacing: -0.2256px;
  font-weight: 400;
  text-align: left;
  color: black;
}

h5 { 
  margin-top: 10px;
  font-size: 14px;
  line-height: 20px;
}

h6 { 
  margin-top: 10px;
  font-size: 12px;
  line-height: 18px;
}

p,
dl,
ol,
ul,
pre,
blockquote {
  margin-top: 0.8em;
  margin-bottom: 0.25em;
}

code,
pre {
  font-size: var(--body-font-size-s);
}

pre {
  padding: 16px;
  border-radius: 8px;
  background-color: var(--light-color);
  overflow-x: auto;
  white-space: pre;
}

main > div {
  margin: 40px 16px;
}

input,
textarea,
select,
button {
  font: inherit;
}

/* links */
a:any-link {
  color: var(--link-color);
  text-decoration: none;
  overflow-wrap: break-word;
}

a:hover {
  color: var(--link-hover-color);
  text-decoration: underline;
}

/* h1-headings */
.h1-heading-wrapper {
  margin-bottom: 27.12px;
  margin-left: 0;
  margin-right: 0;
  font-family:  Syncopate, sans-serif;
  font-size: 5.65rem;
  line-height: 94.0167px;
  font-weight: 400;
  letter-spacing:-0.904px;
  text-wrap-style: balance;
  text-align: center;
}

.h1-heading {
  margin-top: 20px;
  text-wrap-mode: wrap;
  text-wrap-style: balance;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  color:white !important;
  text-align: left;
  line-height: 94.0167px;
}

.h1-heading-center {
  margin-top: 80px;
  text-wrap-mode: wrap;
  text-wrap-style: balance;
  justify-content: flex-start;
  font-family: Syncopate, sans-serif;
  align-items: center;
  text-align: center;
  line-height: 94.0167px;
  font-size: 90.4px
}

.h2-heading {
  margin-top: 0;
  margin-bottom: 15.8px;
  font-family: Syncopate, sans-serif;
  font-size: 45.28px;
  font-weight: 400;
  text-wrap-style: balance;
  text-align: center;
  letter-spacing: -0.4528px;
  line-height: 47.0833px;
  padding-top: 1px;
  color:black;
}

.h2-heading-left {
  margin-top: 20px;
  margin-bottom: 15.8px;
  font-family: Syncopate, sans-serif;
  font-size: 45.28px;
  font-weight: 400;
  text-wrap-style: balance;
  text-align: left;
  letter-spacing: -0.4528px;
  line-height: 47.0833px;
  padding-top: 1px;
  color:black;
}

.h3-heading {
  text-align: left;
  font-family: Syncopate, sans-serif;
  font-size: 45.28px;
  font-weight: 400;
  letter-spacing: -0.4528px;
  text-wrap-mode: wrap;
  line-height: 47.0833px;
  text-wrap-style: balance;
  align-items: end;
}

p {
  margin-top: 0;
  margin-bottom: 10px;
}

.subheading {
  margin-bottom: 70px;
  margin-top: 0;
  font-family: "Instrument Sans", sans-serif;
  text-align: center;
  font-size: 18.08px;
  line-height: 28.9333px;
  letter-spacing: normal;
  color: color-mix(in srgb, currentcolor 70%, transparent);
}

.subheading-left {
  margin-bottom: 32px;
  margin-top: 0;
  font-family: "Instrument Sans", sans-serif;
  text-align: left;
  font-size: 18.08px;
  line-height: 28.9333px;
  letter-spacing: normal;
  color: color-mix(in srgb, currentcolor 70%, transparent);
}

.subheading-white {
  color: white;
}

.eyebrow {
  font-family: "Instrument Sans", sans-serif;
  font-size: 14.4px;
  font-weight: 400;
  color:#8b8585;
  text-transform: uppercase;
  line-height: 18.7px;
  margin-bottom: 20px;
  letter-spacing: 0.144px;
}

.eyebrow1 {
  font-family: "Instrument Sans", sans-serif; 
  text-align: center; 
  font-size: 14.4px;
  font-weight: 400;
  color:#8b8585;
  text-transform: uppercase;
  line-height: 18.7px;
  margin-bottom: 20px;
  letter-spacing: 0.144px;
  margin-top: 100px;
}

.rich-text {
  font-family: "Instrument Sans", sans-serif;
  font-size: 24px;
  letter-spacing: normal;
  line-height: 38.4px;
  margin-bottom: 0;
}

/* buttons */
.button {
  display: inline-flex;
  cursor: pointer;
}

a.button:any-link,
button {
  box-sizing: border-box;
  display: inline-block;
  max-width: 100%;
  margin: 12px 0;
  border:3px solid black;
  border-radius: 2.4em;
  padding: 0.5em 1.2em;
  font-family: var(--body-font-family);
  font-style: normal;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  letter-spacing: normal;
  line-height: 19.2px;
  box-shadow: #000 0 0 0.2px inset, #f4fe8b80 7px 7px 0 0;
}

.button-label {
  white-space: pre;
    text-wrap-mode: nowrap;
    white-space-collapse: preserve;
}

.button:hover, 
button:focus {
  outline-offset: 2px;
  outline-width: 2px;
  cursor: pointer;
}

button:disabled,
button:disabled:hover {
  background-color: var(--light-color);
  cursor: unset;
}

a.button.secondary,
button.secondary {
  background-color: unset;
  border: 2px solid currentcolor;
  color: var(--text-color);
}

.button-group.align-center {
  justify-content: center;
}

/* Button positioned at top-left */
.button-top-left {
  position: fixed;
  top: 0;
  left: 62px;
  z-index: 998;
}

.button-top-right {
  position: fixed;
  top: 15px;
  right: 35px;
  z-index: 998;
}

.button-group {
  flex-wrap: wrap;
  justify-content: flex-start;
  align-self: stretch;
  align-items: center;
  display: flex;
}

.section {
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 20px;
  padding-top: 90px;
}

.section.inverse-section {
  background-color: #000;
  color: #fff;
}

* {
  box-sizing: border-box;
}

.utility-margin-top-0 {
  margin-top: 0 !important;
}

.utility-margin-top-right-0 {
  margin-top: 0 !important;
  margin-right: 0 !important;
}

.utility-margin-top-1 {
  margin-top: 1rem !important;
}

.utility-margin-top-2 {
  margin-top: 2rem !important;
}

.utility-margin-top-3 {
  margin-top: 3rem !important;
}

.utility-margin-top-4 {
  margin-top: 4rem !important;
}

.utility-margin-bottom-1 {
  margin-bottom: 1rem !important;
}

.utility-margin-bottom-2 {
  margin-bottom: 2rem !important;
}

.utility-margin-bottom-3 {
  margin-bottom: 3rem !important;
}

.utility-margin-bottom-4 {
  margin-bottom: 4rem !important;
}

.utility-text-align-center {
  text-align: center;
}

.utility-margin-bottom-0 {
  margin-bottom: 0;
}

img {
  border-radius: 1.25rem;
  max-width: 100%;
  display: inline-block;

}

main img {
  max-width: 100%;
  width: auto;
  height: auto;
}

.icon {
  display: inline-block;
  height: 24px;
  width: 24px;
}

.icon img {
  height: 100%;
  width: 100%;
}

/* sections */
main > .section {
  margin: 40px 0;
}

main > .section > div {
  max-width: 1200px;
  margin: auto;
  padding: 0 24px;
}

main > .section:first-of-type {
  margin-top: 0;
}

@media (width >= 900px) {
  main > .section > div {
    padding: 0 32px;
  }
}

/* section metadata */
main .section.light,
main .section.inverse-section { 
  background-color: #000;
  color: #fff;
  margin: 0;
  padding: 40px 0;
}

main .section.highlight {
  background-color: #f7f8f5;
  margin: 0;
  padding: 40px 0;
}

main .section.full-width > div {
  max-width: 100%;
  padding: 0;
  background-color: #f7f8f5;
  align-items: center;
  justify-content: center;
}

main .section.full-width-image > div {
  max-width: 90%;
  height: 775px;
  padding: 40px;
  background-image: url("/img/5ea48dab-5c5a-47ee-875e-a568e901a0c9.avif");
  opacity: 0.5;
  background-color: #000;
  align-items: center;
  justify-content: center;
  border-radius: 20px;

}

.section.hidden {
  display: none;
}

.cover-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.image {
  border-radius: 1.25rem;
  object-fit: contain;
  width: 100%;
}

.image.cover-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.utility-z-index-1 {
  z-index: 1;
}

.utility-margin-right-0 {
  margin-right: 0;
}

.utility-margin-left-0 {
  margin-left: 0;
}

.utility-link-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0%;
}

.utility-aspect-1x1 {
  aspect-ratio: 1;
  position: relative;
}

.utility-aspect-2x3 {
  aspect-ratio: 2 / 3;
  position: relative;
}

.utility-height-100 {
  height: 100%;
}

.utility-min-height-100dvh {
  min-height: 100dvh;
}

.flex-horizontal {
  gap: 0;
  row-gap: 0;
  flex-flow: row;
  display: flex;
}

.sg-logo {
  z-index: 2;
  padding: 1rem;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 1rem;
  line-height: 1;
  text-decoration: none;
  display: flex;
}


.sg-nav-menu-item {
  padding: .125rem 1rem;
  color: #0009;
  font-size: .875rem;
  text-decoration: none;
  transition: all .2s;
  display: block;
}

.sg-nav-menu-item:hover, .sg-nav-menu-item.w-current {
  color: #000;
}